body {
    margin: 0;
}

.cardcontainer {
    display: inline-block;
    border: 2px solid white;
    border-radius: 15px;
    min-width: 0;
    width: 280px;
    text-align: center;
}

    .cardcontainer h1 {
        font-size: 15px;
        font-family: Raleway;
    }

    .cardcontainer h2 {
        font-size: 12px;
        font-family: Raleway;
        color: lightgray;
    }

    .cardcontainer img {
        width: 70%;
        height: auto;
        object-fit: contain;
    }