.cardcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid white;
    border-radius: 15px;
    min-width: 0;
    width: 200px;
}

    .cardcontainer:hover {
        transform: scale(1.1);
        box-shadow: 16px 16px #B13DD6;
        transition: 0.2s ease;
    }

    .booklink1 {
        transition: opacity 0.5s ease-in-out;
    }

        .booklink1 img {
            width: 250px;
            height: 300px;
            object-fit: contain;
            cursor: pointer;
        }

    .bottomcard {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 2px solid white;
        border-radius: 0 0 12px 12px;
        background-color: white;
        width: 200px;
        padding-bottom: 6px;
        text-align: center;
    }

        .booklink2, .authorlink {
            text-decoration: none;
        }

            .booklink2:hover h1, .authorlink:hover h1 {
                color: #1AC09B;
                transition: 0.2s;
            }

            .booklink2 h1 {
                font-size: 18px;
                font-family: Raleway;
                color: #1C1C1C;
                cursor: pointer;
            }

            .authorlink h1 {
                font-size: 15px;
                font-family: Raleway;
                color: #D9D9D9;
                cursor: pointer;
            }

        .addcartbutton {
            border: 2px solid lightgrey;
            border-radius: 12px;
            padding: 8px;
            color: #1C1C1C;
            background-color: lightgrey;
            font-size: 19px;
            font-weight: 600;
            cursor: pointer;
        }

            .addcartbutton:hover {
                border: 2px solid #1AC09B;
                color: white;
                background-color: #1AC09B;
                transition: 0.2s;
            }

        .disabledcartbutton {
            border: 2px solid red;
            border-radius: 12px;
            padding: 8px;
            color: white;
            background-color: red;
            font-size: 19px;
            font-weight: 600;
        }