body {
    margin: 0;
}

.formfilter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    gap: 18px;
}

    .dropdown_browse {
        
    }

        .dropdown_browse:hover .dropcontent_browse {
            display: block;
            transition: 0.2s;
        }

        .dropdown_browse:hover .dropmenu_browse {
            border: 2px solid #1AC09B;
            background-color: #1AC09B;
            color: white;
            transition: 0.2s;
        }

        .dropmenu_browse {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            border: 2px solid #1C1C1C;
            border-radius: 20px;
            height: 38px;
            padding: 0 12px;
            background-color: white;
            text-decoration: none;
            color: #1C1C1C;
            font-size: 18px;
            font-family: Raleway;
            font-weight: 600;
        }

        .dropcontent_browse {
            display: none;
            position: absolute;
            background-color: ghostwhite;
        }

            label {
                display: block;
                position: relative;
                padding-left: 32px;
                cursor: pointer;
                font-family: Raleway;
                font-size: 18px;
                font-weight: 600;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            label input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }

            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 22px;
                width: 22px;
                background-color: #eee;
            }

            label:hover input ~ .checkmark {
                background-color: #ccc;
                transition: 0.2s;
            }

            label input:checked ~ .checkmark {
                background-color: #2196F3;
            }

            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }

            label input:checked ~ .checkmark:after {
                display: block;
            }

            label .checkmark:after {    
                left: 8.5px;
                top: 5px;
                width: 3px;
                height: 8px;
                border: solid white;
                border-width: 0 3px 3px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }

    .filtersubmit {
        border: 2px solid #1C1C1C;
        border-radius: 20px;
        height: 38px;
        padding: 0 12px;
        background-color: #1C1C1C;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-family: Raleway;
        font-weight: 600;
        cursor: pointer;
    }