.homecontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 70px;
}

    .homecontainer p {
        display: block;
        border-bottom: 4px solid lightgrey;
        width: 1350px;
        font-size: 22px;
        font-family: Raleway;
        font-weight: 600;
        color: #1C1C1C;
        padding-bottom: 14px;
    }

    .banneritem_home {
        display: none;
    }

    .banneritem_home.active {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .banneritem_home img {
            width: 300px;
            height: 350px;
            object-fit: contain;
            cursor: pointer;
        }

        .bannerinfo_home {
            display: flex;
            flex-direction: column;
            width: 1100px;
            height: 400px;
            background-color: #1AC09B;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 15px;
        }

            .bannerinfo_home h1 {
                font-size: 18px;
                font-family: Raleway;
                color: #1C1C1C;
                cursor: pointer;
            }

            .bannerinfo_home h2 {
                font-size: 15px;
                font-family: Raleway;
                color: #D9D9D9;
                cursor: pointer;
            }

    .carouselcontainer_home {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        overflow: hidden;
    }

        .carousel_home {
            overflow: hidden;
        }

            .carouseltrack_home {
                display: flex;
                justify-content: space-around;
                gap: 40px;
                transition: transform 0.2s ease;
            }

            .carouselitem_home {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border: 2px solid white;
                border-radius: 15px;
                min-width: 0;
                width: 200px;
                text-align: center;
            }

                .carouselitem_home img {
                    width: 200px;
                    height: 250px;
                    object-fit: contain;
                    cursor: pointer;
                }

                .carouselitem_home h1 {
                    font-size: 18px;
                    font-family: Raleway;
                    color: #1C1C1C;
                    cursor: pointer;
                }

                .carouselitem_home h2 {
                    font-size: 15px;
                    font-family: Raleway;
                    color: #D9D9D9;
                    cursor: pointer;
                }

            .carouselprev_home, .carouselnext_home {
                transform: translateY(-50%);
                border: none;
                padding: 10px;
                cursor: pointer;
                z-index: 100;
            }

                .carouselprev_home:hover, .carouselnext_home:hover {
                    filter: brightness(75%);
                    transition: 0.2s;
                }

            .carouselprev_home {
                left: 10px;
            }

            .carouselnext_home {
                right: 10px;
            }

            .carouselprev:hover, .next:hover {
                background-color: rgba(0,0,0,0.8);
            }

            .slide-next {
                transform: translateX(-10%);
            }
        

            .slide-prev {
                transform: translateX(10%);
            }

                .addcartbutton_home {
                    border: 2px solid lightgrey;
                    border-radius: 12px;
                    padding: 7px;
                    color: #1C1C1C;
                    background-color: lightgrey;
                    font-size: 17px;
                    font-weight: 600;
                    cursor: pointer;
                }

                    .addcartbutton_home:hover {
                        border: 2px solid #1AC09B;
                        color: white;
                        background-color: #1AC09B;
                        transition: 0.2s;
                    }

                .disabledcartbutton_home {
                    border: 2px solid red;
                    border-radius: 12px;
                    padding: 7px;
                    color: white;
                    background-color: red;
                    font-size: 17px;
                    font-weight: 600;
                }