.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    min-width: 0;
    background-color: white;
    z-index: 1000;
}

    .left_navbar {
        display: flex;
        align-items: center;
        padding-left: 100px;
    }

        .arcadialogo_navbar {
            width: 160px;
            height: auto;
            margin-right: 12px;
        }

    .right_navbar {
        display: flex;
        align-items: center;
        padding-right: 80px;
    }

    .navlink {
        margin: 3px;
    }

        .navlink a {
            padding: 8px;
            text-decoration: none;
            color: #1C1C1C;
            font-size: 18px;
            font-family: Raleway;
            font-weight: 600;
        }

        .navlink:hover a {
            background-color: #1C1C1C;
            border-radius: 25px;
            color: white;
            transition: 0.2s;
        }
