.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    min-width: 0;
    background-color: white;
    z-index: 1000;
}

    .left_navbar {
        display: flex;
        align-items: center;
        padding-left: 100px;
    }

        .arcadialogo_navbar {
            width: 160px;
            height: auto;
            margin-right: 12px;
        }

    .searchcontainer {
        display: flex;
        align-items: center;
    }

        .searchcontainer input {
            border: 3px solid #1C1C1C;
            border-radius: 12px;
            height: 24px;
            width: 240px;
            background-color: #1C1C1C;
            color: white;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 600;
            padding-left: 8px;
            outline: none;
        }

        .searchcontainer input:focus {
            border: 3px solid #B13DD6;
            background-color: #B13DD6;
            transition: 0.2s;
        }

        .searchcontainer input:focus::placeholder {
            color: #B13DD6;
            transition: 0.2s;
        }

        .searchcontainer button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #1C1C1C;
            border-radius: 12px;
            height: 32px;
            width: 32px;
            margin-left: 4px;
            background-color: #1C1C1C;
            cursor: pointer;
        }

        .searchcontainer button:hover {
            border: 3px solid #1AC09B;
            background-color: #1AC09B;
            transition: 0.2s;
        }

            .search_navbar {
                width: 19px;
                height: 19px;
            }

    .right_navbar {
        display: flex;
        align-items: center;
        padding-right: 80px;
    }

        .navlink {
            margin: 3px;
        }

            .navlink a {
                padding: 8px;
                text-decoration: none;
                color: #1C1C1C;
                font-size: 18px;
                font-family: Raleway;
                font-weight: 600;
            }

            .navlink:hover a {
                background-color: #1C1C1C;
                border-radius: 25px;
                color: white;
                transition: 0.2s;
            }


        .dropdown_navbar {
            margin: 8px;
        }

            .dropdown_navbar:hover .dropcontent_navbar {
                display: block;
                transition: 0.2s;
            }

            .dropdown_navbar:hover .dropmenu_navbar {
                border: 2px solid #1AC09B;
                background-color: #1AC09B;
                color: white;
                transition: 0.2s;
            }

            .dropmenu_navbar {
                border: 2px solid #1C1C1C;
                border-radius: 20px;
                height: 38px;
                width: 110px;
                background-color: white;
                text-decoration: none;
                color: #1C1C1C;
                font-size: 18px;
                font-family: Raleway;
                font-weight: 600;
                cursor: pointer;
            }

                .dropcontent_navbar {
                    display: none;
                    position: absolute;
                    background-color: ghostwhite;
                    min-width: 130px;
                }

                    .dropcontent_navbar a {
                        display: block;
                        padding: 4px 6px;
                    }


                    .dropcontent_navbar a {
                        padding: 8px;
                        text-decoration: none;
                        color: #1C1C1C;
                        font-size: 18px;
                        font-family: Raleway;
                        font-weight: 600;
                    }

                    .dropcontent_navbar a:hover {
                        background-color: #1AC09B;
                        color: white;
                        transition: 0.2s;
                    }

        .navlink_login {

        }

            .navlink_login a {
                border: 2px solid #1C1C1C;
                border-radius: 20px;
                height: 38px;
                width: 110px;
                padding: 8px 10px;
                background-color: #1C1C1C;
                cursor: pointer;
            }

            .navlink_login a {
                text-decoration: none;
                color: white;
                font-size: 18px;
                font-family: Raleway;
                font-weight: 600;
            }

            .navlink_login:hover a {
                border: 2px solid #1AC09B;
                background-color: #1AC09B;
                color: white;
                transition: 0.2s;
            }
