.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    min-width: 0;
    background-color: white;
    z-index: 1000;
}

    .left_navbar {
        display: flex;
        align-items: center;
        padding-left: 100px;
    }

    .arcadialogo_navbar {
        width: 160px;
        height: auto;
        margin-right: 12px;
    }

    .searchcontainer {
        display: flex;
        align-items: center;
    }

        .searchcontainer input {
            border: 3px solid #1C1C1C;
            border-radius: 12px;
            height: 24px;
            width: 240px;
            background-color: #1C1C1C;
            color: white;
            font-family: Raleway;
            font-size: 16px;
            font-weight: 600;
            padding-left: 8px;
            outline: none;
        }

        .searchcontainer input:focus {
            border: 3px solid #B13DD6;
            background-color: #B13DD6;
            transition: 0.2s;
        }

        .searchcontainer input:focus::placeholder {
            color: #B13DD6;
            transition: 0.2s;
        }

        .searchcontainer button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 3px solid #1C1C1C;
            border-radius: 12px;
            height: 32px;
            width: 32px;
            margin-left: 4px;
            background-color: #1C1C1C;
            cursor: pointer;
        }

        .searchcontainer button:hover {
            border: 3px solid #1AC09B;
            background-color: #1AC09B;
            transition: 0.2s;
        }

        .search_navbar {
            width: 19px;
            height: 19px;
        }

    .right_navbar {
        display: flex;
        align-items: center;
        padding-right: 80px;
    }

        .navlink {
            margin: 3px;
        }

            .navlink a {
                padding: 8px;
                text-decoration: none;
                color: #1C1C1C;
                font-size: 18px;
                font-family: Raleway;
                font-weight: 600;
            }

            .navlink:hover a {
                background-color: #1C1C1C;
                border-radius: 25px;
                color: white;
                transition: 0.2s;
            }

        .buttonprofile {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 12px;
            padding: 4px;
        }

            .buttonlink a {
                display: flex;
                align-items: center;
                border: 2px solid ghostwhite;
                border-radius: 15px;
                background-color: ghostwhite;
                margin: 0 6px;
            }

            .buttonlink a:hover {
                border: 2px solid #1AC09B;
                background-color: #1AC09B;
                transition: 0.2s;
            }

            .buttonlink p {
                margin: 0;
                color: #1C1C1C;
                font-family: Raleway;
                font-size: 15px;
                font-weight: 600;
            }

                .buttonlink_link1:hover img, .buttonlink_link2:hover img, .buttonlink_link3:hover img {
                    filter: brightness(0) invert(1)
                }

            .buttonlink_link1 {
                padding: 2px;
            }

            .buttonlink_link2 {
                padding: 6.5px 4px;
            }

            .buttonlink_link3 {
                padding: 4px;
            }

                .buttonlink_link1 img {
                    width: 45px;
                    height: auto;
                }

                .buttonlink_link2 img {
                    width: 43px;
                    height: auto;
                }

                .buttonlink_link3 img {
                    width: 30px;
                    height: auto;
                }